apiVersion: v1
kind: Service
metadata:
  name: fastapi-gateway
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: {{ .Values.service.port }}
  selector:
    app: fastapi-gateway
