name: Build, Push, and Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'app/**'
      - 'k8s/apps/fastapi-gateway/**'
      - '.github/workflows/ci-build-deploy.yml'

permissions:
  id-token: write     # required for OIDC -> AWS
  contents: write     # required to push the bumped values.yaml

jobs:
  build-push-deploy:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      ECR_REPO: fastapi-model
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GithubOIDCRole

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push FastAPI image
        run: |
          set -euo pipefail
          ECR_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPO}
          docker build -t ${ECR_URI}:${GITHUB_SHA} ./app
          docker push ${ECR_URI}:${GITHUB_SHA}
          echo "ECR_URI=${ECR_URI}" >> $GITHUB_ENV
